<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interview Assistant</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet" />
    <style>
      .camera_view {
        display: flex;
        justify-content: center;
      }

      .recorder_video {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }

      #output {
        width: 40%;
      }
      #input_field {
        margin: 0px 10px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div id="input_box" class="mt-5">
            <h1 class="text-center">Interview Details</h1>
            <form id="interviewForm">
              <div id="input_field" class="form-group">
                <label for="jobRole">Job Role:</label>
                <input
                  type="text"
                  class="form-control"
                  id="jobRole"
                  name="jobRole"
                  value="Software Engineer" />
              </div>
              <div id="input_field" class="form-group">
                <label for="interviewType">Interview Type:</label>
                <select
                  class="form-control"
                  id="interviewType"
                  name="interviewType">
                  <option value="Technical Interview" selected>
                    Technical Interview
                  </option>
                  <option value="HR Interview">HR Interview</option>
                  <option value="Personal Interview">Personal Interview</option>
                  <option value="MR Interview">MR Interview</option>
                  <option value="Friendly Interview">Friendly Interview</option>
                </select>
              </div>
              <div id="input_field" class="form-group">
                <label for="experience">Experience:</label>
                <select class="form-control" id="experience" name="experience">
                  <option value="Fresher" selected>Fresher</option>
                  <option value="0 to 1 YEAR">0 to 1 year</option>
                  <option value="1 to 2 YEARS">1 to 2 years</option>
                  <option value="2 to 3 YEARS">2 to 3 years</option>
                  <option value="3 to 4 YEARS">3 to 4 years</option>
                  <option value="More than 5 YEARS">More than 5 years</option>
                </select>
              </div>
            </form>
            <br />
            <button
              type="button"
              class="btn btn-primary"
              onclick="genrate_question()">
              Start Interview
            </button>
            <div
              id="displayInterviewQuestion"
              class="mt-4"
              style="display: none">
              <h2>Interview Question:</h2>
              <p><span id="displayQuestion"></span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function get_ai_response(mess, role = "you are a helpful assistant") {
        const endpoint = "http://127.0.0.1:8000";
        const requestData = {
            model_role: role,
            user_message: mess,
        };
        const fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestData),
        };
    
        return fetch(endpoint, fetchOptions)
            .then((response) => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                return response.json();
            })
            .then((data) => {
                return data.answer;
            })
            .catch((error) => {
                console.error(
                    "There was a problem with the fetch operation:",
                    error
                );
                throw error;
            });
    }
    
    function genrate_question() {
        jobRole = document.getElementById("jobRole").value;
        interviewType = document.getElementById('interviewType').value;
        experience = document.getElementById('experience').value;
        user_message = `Job role: ${jobRole}\nInterview type: ${interviewType}\nExperience: ${experience}`
        let role =
            "You are the interviewer, and you will ask a one questions based on the proposed job role, experience level, and type of interview.";
        console.log(user_message);
        const aiResponsePromise = get_ai_response(user_message, role);
        console.log(aiResponsePromise);
        aiResponsePromise
            .then((answer) => {
                document.getElementById("displayQuestion").textContent = answer;
                document.getElementById("displayInterviewQuestion").style.display =
                    "block";
                console.log(answer);
                const speechSynthesis = window.speechSynthesis;
                const utterance = new SpeechSynthesisUtterance(answer);
                speechSynthesis.speak(utterance);
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    }
    </script>

  </body>
</html>
