<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Recorder</title>
    <style>
      .camera_view {
        display: flex;
        justify-content: center;
      }
      .recorder_video {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    </style>
    <script src="./js/record_script.js" defer></script>
  </head>
  <body>
    <h1>Video Recorder</h1>
    <button id="startCamera">Start Camera</button>
    <button id="stopCamera" disabled>Stop Camera</button>
    <button id="startRecording" disabled>Start Recording</button>
    <button id="stopRecording" disabled>Stop Recording</button>
    <div class="recorder_video">
      <div id="output"></div>
      <div id="output_v"></div>
    </div>
    <button onclick="delete_recording()" style="display: none" id="delbtn">
      Try Again
    </button>
    <div class="camera_view">
      <video id="videoElement" autoplay style="display: none"></video>
    </div>
  </body>
</html>
