<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voice Recorder</title>
  </head>
  <body>
    <section>
      <h1>
        Speech<br />
        Recognition
      </h1>
      <button id="startrecording">start</button>
      <button id="stoprecording" disabled>stop</button>
      <p>Available In Chrome😎 Only</p>
      <div class="container">
        <p id="textp"></p>
      </div>
    </section>

    <script>
      const textp = document.querySelector("#textp");
      const startrecording = document.querySelector("#startrecording");
      const stoprecording = document.querySelector("#stoprecording");

      window.SpeechRecognition =
        window.SpeechRecognition || window.webkitSpeechRecognition;

      const recognition = new SpeechRecognition();
      recognition.interimResults = true;
      recognition.continuous = true;

      recognition.addEventListener("result", (e) => {
        const text = Array.from(e.results)
          .map((result) => result[0])
          .map((result) => result.transcript)
          .join("");
        textp.innerText = text;
      });
      startrecording.addEventListener("click", () => {
        recognition.start();
        startrecording.disabled = true;
        stoprecording.disabled = false;
      });
      stoprecording.addEventListener("click", () => {
        recognition.stop();
        startrecording.disabled = false;
        stoprecording.disabled = true;
      });
      recognition.onerror = (event) => {
        console.log("Error occurred in recognition: " + event.error);
      };
    </script>
  </body>
</html>
