{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        AIIA
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Interviewmate AI-Powered Interview Practice Platform " />
    <meta charset="utf-8" />
    <meta name="description" content="InterviewMate is an innovative AI-powered interview assistant designed to streamline the interview process for both candidates and interviewers. With its intelligent features, InterviewMate aims to assist users in preparing for, conducting, and analyzing interviews effectively. This README file provides a comprehensive guide to using InterviewMate and outlines its key features, installation instructions, usage guidelines, and contribution details." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://devnamdev2003.github.io/AI_Interview_Assistant/" />
    <meta property="og:title" content="Interviewmate AI-Powered Interview Practice Platform" />
    <meta property="og:description" content="InterviewMate is an innovative AI-powered interview assistant designed to streamline the interview process for both candidates and interviewers. With its intelligent features, InterviewMate aims to assist users in preparing for, conducting, and analyzing interviews effectively. This README file provides a comprehensive guide to using InterviewMate and outlines its key features, installation instructions, usage guidelines, and contribution details." />
    <meta property="og:image" content="https://devnamdev2003.github.io/AI_Interview_Assistant/Frontend/img/share.png" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://devnamdev2003.github.io/AI_Interview_Assistant/" />
    <meta property="twitter:title" content="Interviewmate AI-Powered Interview Practice Platform" />
    <meta property="twitter:description" content="InterviewMate is an innovative AI-powered interview assistant designed to streamline the interview process for both candidates and interviewers. With its intelligent features, InterviewMate aims to assist users in preparing for, conducting, and analyzing interviews effectively. This README file provides a comprehensive guide to using InterviewMate and outlines its key features, installation instructions, usage guidelines, and contribution details." />
    <meta property="twitter:image" content="https://devnamdev2003.github.io/AI_Interview_Assistant/Frontend/img/share.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'accounts/favicon_io/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'accounts/favicon_io/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'accounts/favicon_io/favicon-16x16.png' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.min.css' %}" />
    {% block csslink %}

    {% endblock %}
  </head>
  <body>
    <div>
      {% block content %}

      {% endblock %}
    </div>
    {% block jslink %}

    {% endblock %}
    <script src="{% static 'bootstrap-5.3.3/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
