<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style>
      body {
        background-color: #f8f9fa;
        padding: 20px;
      }
      
      .container {
        max-width: 500px;
        margin: auto;
        text-align: center;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3 class="font-weight-light my-4 text-center">Forgot Password</h3>
      {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              {{ error }}
            {% endfor %}
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Enter email" />
        </div>
        <button type="submit" class="btn btn-dark col-md-12" id="reset">Submit</button>
      </form>
    </div>
    <!-- Bootstrap JS (optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href)
      }
    </script>
  </body>
</html>
