@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.bold {
    text-transform: capitalize;
}

:root {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #000;
}

button[disabled] {
    cursor: not-allowed;
}

div.home-container {
    width: 100%;
    height: auto;
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

div.heading_box {
    /* border: 2px solid black; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1.heading_text {
    height: auto;
    text-align: center;
    font-size: 5em;
    /* border: 2px solid black; */

}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

div.middle_box {
    width: 96%;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid black; */
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

div.text_box {
    width: 63%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(213, 29, 29); */
}

div.text_top {
    overflow: auto;
    width: 100%;
    height: 20%;
    border-bottom: 2px solid black;
}

div.text_top p {
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

div.text_middle {
    overflow: auto;
    width: 100%;
    height: 65%;
    border-bottom: 2px solid black;
    padding: 15px 10px 15px 0px;

}

div.text_middle p {
    text-align: justify;
    font-size: 2rem;
    line-height: 3rem;
}

div.text_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    /* border: 2px solid black; */

}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

div.video_box {
    width: 35%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(21, 255, 0); */
}

div.v_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 15%;
    /* border: 2px solid black; */
}

div.camera {
    width: 100%;
    height: 70%;
    /* border: 5px solid rgb(15, 0, 227); */
    /* overflow: hidden; */
    display: flex;
    align-items: center;
}

div.camera video {
    width: 100%;
}

.video_view {
    width: 100%;
    /* height: 100%; */
}

div.v_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 15%;
    /* border: 2px solid black; */
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */

.btn {
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 10px;
    text-transform: capitalize;
    text-align: center;
    padding: 7px 30px;
    outline: none;
    cursor: pointer;
}

/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */
/* -------------------------------------- */


div.end_box {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}