{% extends 'home/base.html' %}
{% load static %}
{% block title %}
  Reset Password
{% endblock %}

{% block content %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    body {
      background-color: #f8f9fa;
      padding: 20px;
    }
    .container {
      max-width: 500px;
      margin: auto;
      text-align: center;
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .mess {
      max-width: 500px;
      margin: auto;
      text-align: center;
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    div.mess h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
    
    div.mess p {
      font-size: 18px;
      margin-bottom: 30px;
    }
    
    div.mess .btn-primary {
      background-color: #007bff;
      border-color: #007bff;
      padding: 10px 20px;
      font-size: 18px;
    }
    
    div.mess .btn-primary:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
  </style>
  {% if validlink %}
    <div class="container">
      <h3 class="font-weight-light my-4 text-center">Reset Your Password</h3>
      {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% for field, errors in form.errors.items %}
            {% for error in errors %}
              {{ error }}
            {% endfor %}
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required id="id_new_password1" placeholder="Enter password" />
        </div>
        <div class="mb-3">
          <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control" placeholder="Confirm password" />
        </div>
        <button type="submit" class="btn btn-dark col-md-12" id="reset">Reset Password</button>
      </form>
    </div>
  {% else %}
    <div class="mess">
      <h1 class="text-danger">Invalid Password Reset Link</h1>
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
      <a href="{% url 'password_reset' %}" class="btn btn-dark">Request New Password Reset</a>
    </div>
  {% endif %}

  <!-- Bootstrap JS (optional) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha1/js/bootstrap.bundle.min.js"></script>
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href)
    }
  </script>
{% endblock %}
